* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background:black;
    color: #fff;
}
/* (((NAVIGATION BAR))) */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background: rgba(0, 0, 0, 0.85);
    top: 0;
    z-index: 100;
}
.logo img { 
    height: 45px;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav-links a {
    text-decoration: none;
    color:white;
    font-size: 16px;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}
.nav-links a:hover {
    color: red;
}
footer p {
    font-size: 14px;
    color: #777;
    letter-spacing: 1px;
}
/* (((PACKAGES))) */
.packages-page {
    background-color: #000;
    color: #fff;
}
.packages-page .packages-section {
    padding: 60px 8%;
}
.packages-page .packages-title {
    text-align: center;
    font-size: 36px;
    color: #ff1a1a;
    margin-bottom: 10px;
}
.packages-page .packages-subtitle {
    text-align: center;
    color: #ccc;
    margin-bottom: 50px;
}
.packages-page .packages-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}
.packages-page .package-card {
    background: #111;
    border: 1px solid #ff1a1a;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}
.packages-page .package-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 20px rgba(255, 26, 26, 0.5);
}
/* Image */
.packages-page .package-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.packages-page .package-card h3 {
    padding: 15px;
    color: #ff1a1a;
}
.packages-page .package-card p {
    padding: 0 15px;
    font-size: 14px;
    color: #ddd;
}
.packages-page .duration {
    font-size: 13px;
    color: #aaa;
}

.packages-page .details {
    font-size: 13px;
    color: #bbb;
}
.packages-page .price {
    font-size: 18px;
    font-weight: bold;
    color: #ff1a1a;
    margin: 10px 15px;
}
.packages-page .seats {
    margin-bottom: 15px;
}
.packages-page .package-card button {
    width: 90%;
    margin: 15px auto 20px;
    display: block;
    padding: 12px;
    background: #ff1a1a;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.3s;
}
.packages-page .package-card button:hover {
    background: #cc0000;
}
