* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background:black;
    color: #fff;
}
/* (((NAVIGATION BAR))) */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background: rgba(0, 0, 0, 0.85);
    top: 0;
    z-index: 100;
}
.logo img { 
    height: 45px;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav-links a {
    text-decoration: none;
    color:white;
    font-size: 16px;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}
.nav-links a:hover {
    color: red;
}
.yourtrips-section {
    padding: 100px 60px;
    min-height: 100vh;
    background: black;
}

.yourtrips-section h2 {
    color: red;
    margin-bottom: 30px;
}

.trip-card {
    background: #111;
    border: 1px solid #222;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    transition: 0.3s ease;
}

.trip-card:hover {
    border-color: red;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
}

.trip-card h3 {
    color: red;
    margin-bottom: 10px;
}
.delete-btn {
    margin-top: 10px;
    padding: 8px 14px;
    background: red;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

.delete-btn:hover {
    background: darkred;
}
