* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background:black;
    color: #fff;
}
/* (((NAVIGATION BAR))) */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background: rgba(0, 0, 0, 0.85);
    top: 0;
    z-index: 100;
}
.logo img { 
    height: 45px;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav-links a {
    text-decoration: none;
    color:white;
    font-size: 16px;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}
.nav-links a:hover {
    color: red;
}
footer p {
    font-size: 14px;
    color: #777;
    letter-spacing: 1px;
}

.booking-section {
    padding: 100px 60px;
    min-height: 100vh;
    background: black;
}

.booking-section h2 {
    color: red;
    margin-bottom: 20px;
}

.booking-form {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.booking-form input,
.booking-form textarea {
    padding: 12px;
    background: #111;
    border: 1px solid #333;
    color: white;
    border-radius: 6px;
}

.booking-form input:focus,
.booking-form textarea:focus {
    border-color: red;
    outline: none;
}

.booking-form button {
    padding: 14px;
    background: transparent;
    border: 2px solid red;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.booking-form button:hover {
    background: red;
}
