* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #eee;
    line-height: 1.6;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background: rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid #1f1f1f;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo img {
    height: 45px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #e50914;
}
/* HERO SECTION */
.hero {
    height: 70vh;
    background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    background: rgba(0,0,0,0.6);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.hero-text h1 {
    font-size: 50px;
    color: red;
    letter-spacing: 4px;
}

.hero-text p {
    font-size: 18px;
    color: #fff;
}

/* SECTIONS */
.section {
    padding: 50px 20px;
    max-width: 1100px;
    margin: auto;
}

.section h2 {
    color: red;
    margin-bottom: 15px;
    border-left: 5px solid red;
    padding-left: 10px;
}

.section p {
    color: #ccc;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

/* CARD */
.card {
    background-color: #111;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card h3 {
    padding: 15px;
    text-align: center;
    color: red;
}

/* FOOTER */
footer {
    background-color: #111;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    color: #aaa;
}
